* {
  margin:0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: yellow;
}

/*Heading*/
#title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration:underline;
  letter-spacing: 4px;
  color: #252525;
  padding: 50px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 4px;
  color: #252525;
  padding: 20px;
}


/*Difficulty Levels*/


#levels {
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 75px;
  text-align: center;
  margin: 20px;
}

#levels li {
  display: inline;
  text-align: center;
  list-style-type: none;
  margin-right: 30px;
}

#levels a {
  text-decoration: none;
  color: inherit;
  border: 2px solid white;
  background-color: red;
  border-radius: 5px;
  margin: 20px;
}

#levels a:hover {
  border: 2px solid black;
}

/*Comment Form*/

input[type=text], textarea {
  font-family: 'Shadows Into Light', cursive;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  font-family: 'Shadows Into Light', cursive;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.comment-section {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.comment-ask {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.comment-area {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.comment-row:after {
  content: "";
  display: table;
  clear: both;
}

.comment-row h3{
  padding-top: 0px;
  padding-bottom: 20px;
}


/*Footer*/

.social {
  display: inline-block;
  width: 100%;
}

footer {
  height: 400px;
  padding:40px 0;
  background-color:#263238;
  color:white;
}

footer .social {
  text-align: center;
  padding-bottom:25px;
}
  
footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
  margin-top: 150px;
}
  
footer .social > a:hover {
  opacity:0.9;
}
  
footer .copyright {
  margin-top: 100px;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/*Quiz Links*/

#quizes {
  height: 615px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.quizes {
  padding: 0 6px;
  float: left;
  width: 32.99999%;
  margin: 6px 0;
}


/*Geography Quiz*/

#geog-gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: url('../images/geography.jpg') no-repeat center center;
  background-size: cover;
}

#geog-quiz-area {
  width: 80%;
  background-color: rgba(168,168,168);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}


.geog-question-area { 
  display:flex;
}

.geog-q-and-a {
  min-width: 200px;
  min-height: 30px;
  margin: 10px;
}

/*History Quiz*/

#hist-gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: url('../images/history.jpg') no-repeat center center;
  background-size: cover;
}

#hist-quiz-area {
  width: 80%;
  background-color: rgba(168,168,168);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}


.hist-question-area { 
  display:flex;
}

.hist-q-and-a {
  min-width: 200px;
  min-height: 30px;
  margin: 10px;
}

/*Sport Quiz*/

#sport-gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: url('../images/history.jpg') no-repeat center center;
  background-size: cover;
}

#sport-quiz-area {
  width: 80%;
  background-color: rgba(168,168,168);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}


.sport-question-area { 
  display:flex;
}

.sport-q-and-a {
  min-width: 200px;
  min-height: 30px;
  margin: 10px;
}

button {
  height: 40px;
  width: 200px;
  outline: none;
  background: white;
  border: black solid 2px;
}

button:active {
  background: blue;
}

/*Timer*/

#timer {
  font-family: sans-serif;
  display: grid;
  height: auto;
  place-items: center;
}

.quiz-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.quiz-timer__svg {
  transform: scaleX(-1);
}

.quiz-timer__circle {
  fill: none;
  stroke: none;
}

.quiz-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.quiz-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.quiz-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.quiz-timer__path-remaining.orange {
  color: orange;
}

.quiz-timer__path-remaining.red {
  color: red;
}

.quiz-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

/*Times-up Page*/

#times-up {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#times-up img {
  max-width: 100%;
  height: auto;
}

#winner {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#winner img {
  max-width: 100%;
  height: auto;
}


/*Viewport sizes max/min 700px wide */

@media only screen and (max-width: 700px) {
  
  #quizes {
    height: 1130px;
  }

  .quizes-top {
    width: 49.99999%;
    margin: 6px 0;
  }

  .quizes-bottom {
    width: 49.99999%;
    margin: 6px 0;
  }
  
  .comment-ask, .comment-area, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .comment-section {
    margin-left: 0px;
    margin-right: 0px;
  }
}


/*Viewport sizes max/min 500px wide */

@media only screen and (max-width: 500px) {
  
  #quizes {
    height: 3030px;
  }
  
  .quizes-top {
    width: 100%;
  }

  .quizes-bottom {
    width: 100%;
  }

}


