* {
    margin:0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Heading*/
body h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    padding: 20px;
}
body h2 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    padding: 20px;
}


/*Quiz Links*/

#quizes {
    width: 100%;
    height: 900px
}


/*Top*/
.box-top {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  div.desc {
    text-align: center;
    font-weight: normal;
    width: auto;
    margin: 5px;
    padding:15px;
}

/*Bottom*/
  .box-bottom {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  div.desc {
    text-align: center;
    font-weight: normal;
    width: auto;
    margin: 5px;
    padding:15px;
}


/*Googlr Charts*/
#chart {
    width: 100%;
    height: 100px;
    background-color: aqua;
}


/*Footer*/
footer {
    width: 100%;
    height: 100px;
    background-color: aqua;
}
  





  @media only screen and (max-width: 700px){
    .box-bottom {
      width: 49.99999%;
      margin: 6px 0;
    }

    .box-top {
        width: 49.99999%;
        margin: 6px 0;
      }
  }
  
  @media only screen and (max-width: 500px){
    .box-bottom {
      width: 100%;
    }
    .box-top {
        width: 100%;
    }    
  }
