* {
    margin:0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Heading*/
body h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    padding: 20px;
}
body h2 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    padding: 20px;
}


/*Quiz Links*/

#quizes {
  height: 615px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.quizes-top {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  margin: 6px 0;
}

.quizes-bottom {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  margin: 6px 0;
}

/*Googlr Charts*/
#chart {
  width: 100%;
  height: 100px;
  background-color: aqua;
}


/*Footer*/
footer {
  width: 100%;
  height: 100px;
  background-color: aqua;
}








/*Viewport sizes max/min 700px wide */

@media only screen and (max-width: 700px) {
  
  #quizes {
    height: 1130px;
  }

  .quizes-top {
    width: 49.99999%;
    margin: 6px 0;
  }

  .quizes-bottom {
    width: 49.99999%;
    margin: 6px 0;
  }
}


/*Viewport sizes max/min 500px wide */

@media only screen and (max-width: 500px) {
  
  #quizes {
    height: 3030px;
  }
  
  .quizes-top {
    width: 100%;
  }

  .quizes-bottom {
    width: 100%;
  }
}

